:root {
  --rowNum: 16;
  --colNum: 16;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  border: 2px solid black;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(var(--colNum), auto);
  grid-template-rows: repeat(var(--rowNum), auto);
  background-color: lightblue;
}

.grid-element {
  border: 1px black solid;
}

button {
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(238, 219, 144);
  border: 2px solid black;
}
